:root {
  --primary-color: #2980b9;
  --secondary-color: #3498db;
  --background-color: #f8f9fa;
  --footer-bg-color: #343a40;
  --footer-text-color: #f8f9fa;
  --transition-speed: 0.3s;
}

.footer-section {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  padding: 1.5rem 0rem;
  margin: 0;
  /* width: 100vw;  */
  box-sizing: border-box;
  text-align:left;
  animation: fadeIn 1s ease-in-out;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links h3,
.footer-social h3,
.footer-contact h3,
.footer-newsletter h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  
  color: var(--secondary-color);
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 0.5rem 0;
}

.footer-links a {
  color: var(--footer-text-color);
  text-decoration: none;
  transition: color var(--transition-speed) ease;
}

.footer-links a:hover {
  color: var(--secondary-color);
}

.footer-social .social-icons a {
  color: var(--footer-text-color);
  font-size: 1.5rem;
  margin: 0 0.7rem 0 0;
  transition: transform var(--transition-speed), color var(--transition-speed);
}

.footer-social .social-icons a:hover {
  color: var(--secondary-color);
  transform: scale(1.2);
}

.footer-contact p {
  margin: 0.5rem 0;
}

.footer-newsletter input[type="email"] {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
}

.footer-newsletter button {
  
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--footer-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--transition-speed) ease, transform var(--transition-speed);
}

.footer-newsletter button:hover {
  background-color: var(--primary-color);
  transform: translateY(-2px);
}

.footer-bottom {
 
  margin-top: 2rem;
  font-size: 0.9rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom p {
  text-align: center;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .footer-newsletter input[type="email"] {
    width: 100%;
  }

  .footer-newsletter button {
    width: 100%;
  }

  .footer-bottom {
    text-align: center;
  }
}
