.form-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(135deg, #f5f7fa 0%, #e4e9f2 100%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-bottom: 40px;
  padding: 40px;
}
.input-container,
.stress-container {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-container {
  padding-right: 20px;
}
.input-container h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #2c3e50;
}
.stress-container {
  background: linear-gradient(135deg, #ffffff, #d5e4f0);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stress-level {
  text-align: center;
  margin-bottom: 15rem;
}
.stress-level h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5rem;
}
.stress-image img {
  width: 90%;
  max-width: 250px;
  border-radius: 10px;
  margin: 15px auto;
  margin-bottom: 5rem;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
}
.btn {
  margin-left: 12rem;
}
.recommendation-btn {
  background: linear-gradient(135deg, #3498db, #2c3e50);
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: transform 0.3s ease;
}
.recommendation-btn:hover {
  transform: translateY(-2px);
}